---
description: "Documentation for Tome"
modified: 2019-04-20
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  {% include header.html %}


  <div class="container fifty" style="max-width: 1000px">
    <div class="fixOverlayDiv">
        <h1 align = "left">Tree Of Mammalian Embryogenesis</h1>
        <p> Mammalian embryogenesis is characterized by extraordinarily rapid cellular proliferation and diversification. Although intensively studied, a complete, continuous, systematically ascertained delineation of the cell lineages and trajectories that comprise mammalian development remains elusive. Here we set out to integrate four single cell RNA-seq datasets that collectively span mouse gastrulation and organogenesis. We defined cell types at each of 17 successive stages of development (E3.5 - E13.5) and heuristically connected them with their inferred antecedents and descendants. </p>
        <ul>
          <li>It contains 45 branchpoints and 337 nodes.</li>
        </ul>
    </div>
    
    <div class="col-md-12">
      <img src="images/cover.png" alt="..." class="img-responsive centered">
      <br>
    </div>

{% include footer.html %}

</body>

</html>
